</br>
<div class="row">
  <div class = 'col-md-10'>
    <%= render 'form' %>
    </br>
      <%= form_tag("/todos/complete/", :method => "post") do %>
    <table class="table table-striped">
      <tr>
      <td><b>Description</b></td>
      <td><b>Days Left</b></td>
      <td align="center"><b>Complete</b></td>
      </tr>
      <% @todos.each do |t| %>
        <div class="line-items">
          <tr>
          <td><%= t.description %></td>
          <td><%= distance_of_time_in_words_to_now(t.created_at) %></td>
          <td align="center"><%= check_box_tag  "todos_checkbox[]",t.id %></td>
          </tr>
        </div>
      <% end %>
    </table>
    <%= submit_tag("Update", :class=>"btn btn-primary") if @todos.any? %>
    <% end %>
  </div>
</div>
